version: '3.8'

services:
  examapp:
    image: natty98282/examapp-auth-be:${IMAGE_TAG}
    container_name: examapp
    env_file:
      - .env
    ports:
      - "8081:8080"
      - "50051:50051"
    networks:
      - examapp-network
    depends_on:
      - mongodb
    restart: unless-stopped

  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - examapp-network

volumes:
  mongo_data:

networks:
  examapp-network:
    driver: bridge
